*
{
	margin:0px;
	padding:0px;
}
#lft
{
	width:19%;
	min-height:550px;
	background-color:#1e272e;
	float:left;
	margin-right:10px;
   

	
}
#head
{
	width:100%;
	height:50px;
	background-color:#ffffff;
	float:right;
	
}

#admin_pic
{
	width:100%;
	height:200px;
	background-color:green;
	margin:auto;
}



#body
{
	background-color:#1e272e;
	
}


#dash
{
	height:600px;
	width:100%;
	background-color:;


}
#cover
{
	width:81%;
	min-height:600px;
	float:right;
	background-color:#eceff1;
	
}

#cover1,#cover2,#cover3
{
	display:flex;
	justify-content:space-around;
}


	

#cover1 .a,#cover2 .a,#cover3 .a
{
	width:1000px;
	height:360px;
	background-color:#ffffff;
	margin:60px;
}


	
#heading
{
	font-size:20px;
	margin-left:36%;
}
#heading1
{
	font-size:20px;
	
}
#menu
{
	color:white;
}
#lft1
{
	background-color:;
	width:100%;
	height:400px;
	margin-top:;
}
ul li a{
	font-size:20px;
	color:white;
}
#lists li a,#lists1 li a,#lists2 li a
{
	font-size:20px;
}
table tr td
{
	font-size:20px;
	
}
#flex
{
	width:85%;
	min-height:400px;
	float:right;
	background-color:white;
	margin-right:10%;
}
#nav{
	height:50px;
}
#t1 tr td
{
	padding:25px;
}
.t
{
	width:2000px;
	height:200px;
	border-radius:30px;
	font-size:70px;
}
#t2
{
	margin:auto;
	
}
 
 #add2
 {
	 background-color:teal;
	 border-radius:20px;
	 width:40%;
	 height:130px;
	 font-size:80px;
	 
	 
 }
 #food_category
{
	width:92%;
	height:1500px;
	background-color:white;
	margin:auto;
	margin-top:5%;
}
.t
{
	width:1000px;
	height:100px;
	border-radius:10px;
	font-size:40px;
	
}
#t1 tr td
{
	padding:25px;

}
#t1{
		width:2490px;;
}

 #add
 {
	 background-color:teal;
	 border-radius:20px;
	 width:900x;
 }
 #food_cat{
	 width:1700px;
	height:100px;
	font-size:70px;

 }
 #b1
 {
	 width:600px;
	 min-height:100px;
	 	font-size:60px;
		border-radius:20px;
		background-color:teal;
		
 }
#area
{
	font-size:60px;
}
.normal,.heading
{
	font-size:20px;
	
}
.normal1
{
	font-size:30px;
	color:blue;
}

.normal2
{
	font-size:80px;
	color:#4cd137;
}

#veiw1
{
	font-size:20px;
	color:white;
	width:100px;
	height:40px;
}
td a
{
	width:400px;
	height:100px;
}
#sorder
{
	width:100px;
	height:30px;
	font-size:20px;
}

#bel1
{
	
float:right;
}
#body{
	
	background-color:#1e272e;
}


